body {
    font-family: 'Courier New', Courier, monospace;
    background-color: darkgray;
    margin: 100;
    padding: 100;
    display:flexbox;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }
.Cabeçalho{
    padding:auto;
    display:flex;
    justify-content:last baseline;
    background-color: rgb(39, 38, 38);
    border-radius: 15px;
    color: aliceblue;
    
}

img {
    max-width:60px;
    height:auto;
    margin-left: 0%;
    justify-content:safe;
    }
